$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/components-font-awesome/scss/font-awesome.scss";
// endbower

.row {
    margin-left: 0;
    margin-right: 0;
}

html {
    margin : 0px;
    padding: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    height:100%;
}

.container-fluid {
    padding: 0px;
    margin: 0px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    color : white;
    padding-bottom: 19px;
  }

  a {
     color : white;
  }

}

/* Custom page footer */
.footer {
  padding-top: 19px;
  padding-bottom: 19px;
  color: white;

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 830px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.section1 {
    background: url('../images/conference1.png') no-repeat;
    background-size: cover;
    padding-bottom : 3em;

    .nav-link a:hover {
        background-color: transparent;
        text-decoration: underline;
    }

    h3 a:hover{
        text-decoration: none;
    }

    .concat-details {
        text-align: center;
        text-transform: uppercase;
        color: white;
    }

    .col-sm-4 {
        padding: 0px;
    }

    .col-md-5 {
        padding: 0px;
    }

    .col-md-2 {
        padding: 0px;
    }

    .form-group {
        padding: 5em 0;
    }


    .form-control {
        border-radius: 0px;
        padding: 6px 12px;
    }

    .search {
        background-color: #19DA81;
    }

}

.about {
    padding: 5em 0;
    h3 {
        text-transform: uppercase;
    }
    h3, p {
        text-align: center;
    }
}

.trending {
    background: url('../images/conference1.png') no-repeat;
    background-size: cover;
    list-style-type: none;

    .topics {
        padding: 5em 0;
        background-color: #142141;
    }

    ul {
        list-style: none;
    }

    h3 {
        text-transform: uppercase;
        text-align: center;
        color: #19DA81;
    }

    li {
        text-decoration: none;
        color: white;
    }

    .text-left {
        text-align: right;
    }

    .text-right {
        text-align: left;
    }

    @media screen and (max-width : 768px){
        .text-left {
            text-align: center;
        }

        .text-right {
            text-align: center;
        }
    }
}

.standout {
    padding: 5em 0;
    text-align: justify;

    img {
        width: 80%;
        margin: 10%;
    }

}

.footer {
    text-align: center;
    background-color: black;
}
