
.navigation-commom {
    background: url('../images/navigation_2.png') no-repeat;
    padding-bottom : 1em;
}

.section1 {
    background: url('../images/concat_0005_Layer-1.png') no-repeat;
    background-size: cover;
    padding-bottom : 10em;
    padding-top: 1em;

    .search-bar-main {
        padding-top: 10em!important;
    }
}

.navigation-commom, .section1 {
    padding-top: 1em;
    .nav-link a:hover {
        background-color: transparent;
        text-decoration: underline;
    }

    h3 a:hover{
        text-decoration: none;
    }

    .concat-details {
        text-align: center;
        text-transform: uppercase;
        color: white;
    }

    .col-sm-4 {
        padding: 0px;
    }

    .col-md-5 {
        padding: 0px;
    }

    .col-md-2 {
        padding: 0px;
    }

    .form-group {
        padding: 1em 0;
    }


    .form-control {
        border-radius: 0px;
        padding: 6px 12px;
    }

    .search {
        background-color: #19DA81;
    }

}

.footer {
    text-align: center;
    background-color: black;
}
