.profile-navbar {
    background: #14223F;

    .profile-nav-top {
        padding : 1em 0em;
        text-align: center;
    }

    .profile-nav-top:hover {
        padding : 1em 0em;
        background-color: #2F3F4E;
        text-align: center;
        border-bottom: #2FA471 solid 5px;

        a {
            text-decoration-color: none;
            text-decoration: none;
        }
    }

    .active {
        border-bottom: #2FA471 solid 5px;
    }

}

.profile-nav-left {
    padding: 2em 1em;
    border-right: 1px solid lightgrey;

    .profile-image {
        img {
            width: 100%;
        }
    }

    .profile-name {
        text-align: left;
    }

    .menu {
        h5 {
            text-align: center;
            padding: 1em;
            background-color: #F3F3F3;
        }
    }
}

.profile-view {
    padding: 1em 1em;
}
